@import '../../vars';

span {
  display: inline-block;
  width: 50%;
}

.day {
  overflow: visible;
  text-transform: capitalize;
  vertical-align: top;

  em {
    @include font-tag;
    margin-left: 8px;
  }
}

.openings {
  @include font-body;
  font-family: 'Circular Std Book', sans-serif;
  text-align: right;
}

.closed {
  color: $color-disabled;
}
