.container {
  width: 267px;
  border: 1px solid rgba(32, 33, 37, 0.08);
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(32, 33, 37, 0.08);
  padding: 25px 30px 30px;
}

.header {
  display: inline-block;
  font-family: 'Circular Std Medium', sans-serif;
  font-weight: normal;
  margin: 0 0 13px 0;
  color: #202125;
  font-size: 24px;
  padding: 0 12px;
  letter-spacing: 0.2px;
}

img {
  width: 18px;
  height: 18px;
  padding-left: 3px;
}
