@import '~@csstools/normalize.css';
@import './vars';

@font-face {
  font-family: 'Circular Std Book';
  src: url(./fonts/CircularStd-Book.otf) format('opentype');
}

@font-face {
  font-family: 'Circular Std Bold';
  src: url(./fonts/CircularStd-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Circular Std Medium';
  src: url(./fonts/CircularStd-Medium.otf) format('opentype');
}

body {
  @include font-body;
  background-color: $color-bg;
  margin: 0;
  padding: 30px;
}
